[Unit]
Description=Harry Ludemann ALPR API
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/alpr.harryludemann.com/pi
Environment=ORT_DISABLE_TENSORRT=1
EnvironmentFile=-/home/pi/alpr.harryludemann.com/pi/.env
ExecStart=/home/pi/alpr.harryludemann.com/pi/.venv/bin/uvicorn app:app --host 0.0.0.0 --port 8000
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
